*{
    margin:0;
    padding:0;
}


/*DOCUMENTO*/

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* altura mínima = altura da tela */
    margin: 0;
}


/*HEADER*/

.header{
    display:grid;
    grid-template-columns:1fr;
    align-items: center;
    justify-items: center;
    background:red;
    height: 100px;
}

.menu {
  display: flex;
  gap: 20px;
}


/*MAIN */

.grid {
    flex:1;
    display: grid;
    width: 100%;         
    max-width: 1200px;  
    margin: 20px auto;
    grid-template-columns: 1fr; 
    gap:20px;
}


/*FOOTER*/

.footer{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background:red;
    height: 100px;
}

.item{
    background:red;
    margin:0px;
    height: 100px;
   
}


/*MOBILE MINIMO 1024PX */

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr; /* duas colunas */
  }
}


/* MOBILE MINIMO 768PX */

@media (max-width: 768px) {
  .menu {
    display: none; /* escondido por padrão */
    flex-direction: column;
  }
  .menu-toggle {
    display: block; /* mostra o botão hambúrguer */
  }
}
