/*FOLHA DE ESTILO CSS*/

html,
body {
  margin: 0px;
  height: 100%;
  padding: 0px;
}


/*DOCUMENTO*/

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}


/*HEADER*/

.header {
  display: flex;
  justify-content: center; /* centraliza o conteúdo */
  align-items: center;
  background: red;
  height: 100px;
  padding:20px;
}

/*MENU*/

nav {
  display: flex;
  justify-content: space-between;
 
  padding: 10px 0px;
  color: #fff;
  width: 1200px; /* limite de largura */
  background: #1d1717;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li{
  position: relative;
}

.menu a{
  display: block;
  padding: 0px 10px 0px 10px;
  color: #fff;
  text-decoration: none;
  position: relative; /* necessário para o ::before */
}

.menu li + li a::before{
  content: "";
  position: absolute;
  left: 0;
  top: 25%;       /*controla onde começa*/ 
  height: 50%;    /*controla o tamanho vertical*/ 
  border-left: 1px solid #ccc;
}

.menu > li.m-ult-f a{
  padding-right: 0px !important;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}



/*MAIN */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
   
}

.primeira-section{
  width: 100%;
  height: auto;
  background: green;
  padding-top:20px;
  
}

.segunda-section{
  width: 100%;
  height: auto;
  background: green;
 
}

.grid {

  display: grid;
  width: 100%;
  max-width: 1200px;
  margin:auto;
  padding-top:0px;
  grid-template-columns: 1fr;
  

}

.grid-2,.grid-3 {

  display: grid;
  padding-top:20px;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 1fr;
  

}

.item {
  background: #fff;
  height: 100px;
  padding:20px;
  text-align: left;
  color: #1c1c1c;
  border:1px solid #ddd;
}

  
.primeira-section > .grid > .item{
  margin:15px 15px 17px 15px;
}
.segunda-section > .grid-2 > .item{
  margin:-2px 12px 5px 15px;
}
.segunda-section > .grid-3 > .item{
  margin:10px 15px 7px 15px;
}
.primeira-section > .grid-4 > .item{
  margin:7px 15px 27px 15px;
}

.primeira-section > .grid-4{
  padding-bottom: 9px;
}




/*FOOTER*/

.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background: red;
  min-height: 100px;
  margin-top: auto;
  color:#fff;
}


/*MOBILE MINIMO 1024PX */

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr; /* duas colunas */
  }  
  .primeira-section > .grid > .item{
    margin:10px 15px 5px 15px;
  }
  .segunda-section > .grid-2 > .item{
    margin:5px 15px 0px 15px;
  }
  .segunda-section > .grid-3 > .item{
    margin:10px 15px 0px 15px;
  }
  .primeira-section > .grid-4 > .item{
    margin:10px 15px 30px 15px;
  }

}


/* MOBILE MINIMO 768PX */

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: red;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
  }

  .menu li {
    margin: 15px;
  }

  .menu-toggle {
    display: block;
  }

  .menu.show {
    display: flex;
  }
}