/*FOLHA DE ESTILO CSS*/


* {margin:0px;
  padding:0px;
  border:0;
  box-sizing: border-box;}

html, body{
  background-color: #fff;
}

body{
  font-family: "Roboto", Arial, sans-serif;
  font-weight:300;
  font-style:normal;
  line-height: 1.0;
  color: #17171b;
  font-size: 15px;
  /*Teste de Função*/
  font-optical-sizing: auto;
  font-variation-settings:"wdth" 100;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

ul, ol{
  list-style:none;
}


/*DOCUMENTO*/

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;}


/*HEADER*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  height: 100px;
  padding: 0px;
}


/*MENU*/

.nav-topo {
  display: flex;
  justify-content: row;
  align-items: center;
  padding: 10px 0px;
  color: #fff;
  width: 1200px;
  background: #1d1717;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  text-align: left;
}

.menu-social {
  width: 300px;
}

.menu-social-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-social-icon li a{
  color:#fff;
  margin-right:20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 500px;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 0px 10px 0px 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}



/*MAIN */

.main {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
}


/* PRIMEIRA SESSÃO*/

.primeira-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(219, 216, 9);
}

.box-01 {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: auto;

}

.primeira-section .box-01 .item-box-01 {
  width: 50%;
  background-color: aqua;
  min-height: 100px;
  padding: 20px;
}


/* SEGUNDA SESSÃO*/

.segunda-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(219, 9, 184);
}

.box-02 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: auto;
}

.segunda-section .box-02 .item-box-02 {
  width: 100%;
  background-color: rgb(109, 59, 167);
  min-height: 100px;
  padding: 20px;
}


/* TERCEIRA SESSÃO*/

.terceira-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(219, 216, 9);

}

.box-03 {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: auto;

}

.terceira-section .box-03 .item-box-03 {
  width: 50%;
  background-color: aqua;
  min-height: 100px;
  padding: 20px;
}


/* QUARTA SESSÃO*/

.quarta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgb(219, 9, 184);
}

.box-04 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: auto;
}

.quarta-section .box-04 .item-box-04 {
  width: 100%;
  background-color: rgb(109, 59, 167);
  min-height: 100px;
  padding: 20px;}


/*FOOTER*/

.footer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  background: red;
  height: auto;
  margin-top: auto;
  color: #fff;
}

.nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 0px;
  color: #fff;
  width: 1200px;
  /* limite de largura */
  background: #1d1717;
}

.logo-footer {
  font-size: 20px;
  font-weight: bold;
  width: 40%;
  text-align: left;
}



.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  width: 20%;
  margin: 0;
  padding: 0;
}

.menu-footer li {
  position: relative;
}

.menu-footer a {
  display: block;
  padding: 0px 0px 10px 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
  /* necessário para o ::before */
}

.copy-rodape {
  display: block;
  text-align: center;
  min-height: 50px;
  color: yellow;
  padding: 20px;
}

.menu-social-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  width: 40%;
}

.menu-social-icon-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-social-icon-footer li a{
  color:#fff;
  margin-left:20px;
}

/*MOBILE MiN 1024PX */

@media (min-width: 940px) {

  .menu>li.m-ult-f a {
    padding-right: 0px !important;
  }

  .menu li+li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    /*controla onde começa*/
    height: 50%;
    /*controla o tamanho vertical*/
    border-left: 1px solid #ccc;
  }
}


/*MOBILE MAX 1024PX */

@media (max-width: 1240px) {
  .box-01 {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: auto;
  }

  .box-02 {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: auto;
  }

  .box-03 {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: auto;
  }

  .box-04 {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: auto;
  }

  .nav-topo {
    width: 900px;
    /* limite de largura */
  }

  .logo {
    width: 300px;
  }

  .menu-social {
    width: 300px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .nav-footer {
    width: 900px;
  }

}


/*MOBILE MINIMO 940PX */

@media (max-width: 940px) {


  .box-01,
  .box-02,
  .box-03,
  .box-04 {
    padding: 0px 20px;
  }

  .primeira-section .box-01 .item-box-01 {
    width: 100%;
    background-color: rgb(119, 35, 119);
  }

  .segunda-section .box-02 .item-box-02 {
    width: 100%;
    background-color: aqua;
  }

  .terceira-section .box-03 .item-box-03 {
    width: 100%;
    background-color: aqua;
  }

  .quarta-section .box-04 .item-box-04 {
    width: 100%;
    background-color: aqua;
  }


  .box-01,
  .box-02,
  .box-03,
  .box-04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }


  .header {
    padding: 20px;
  }

  .nav-topo {
    width: 100%;
    /* limite de largura */
  }

  .menu-social {
    display: none;
  }

  .logo,
  .menu-toggle {
    width: 50%;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: red;
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
  }

  .menu li {
    margin: 15px;
  }

  .menu-toggle {
    display: block;
    text-align: right;
  }

  .menu.show {
    display: flex;
  }

  .footer {
    padding: 0 20px;
    width: 100%;
  }

  .nav-footer {
    width: 100%;
    padding: 30px 0;
  }
}

@media (max-width: 700px) {

  .nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    /* limite de largura */
    background: #1d1717;
  }

  .logo-footer,
  .menu-footer,
  .menu-social-footer {
    display: block;
    padding-top: 20px;
    text-align: center;
  }
}